<html ng-app="bolao">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Ranking bolões</title>
	</head>
	<script src="view/js/angular.min.js"></script>
	<script src="view/js/ngprogress.js"></script>
	<script src="view/js/module.js"></script>
	<script src="view/js/factory.js"></script>
	<script src="view/js/rankingCtrl.js"></script>
	<link rel="stylesheet" href="view/css/estilo.css">
	<link rel="stylesheet" href="view/css/ionic.css">
	<link rel="stylesheet" href="view/css/ngProgress.css">
	<link rel="icon" href="view/imagens/icon.png" />
	<body ng-controller="rankingCtrl as ctrl">
		<!-- inicio Content -->
		<div class="meus padding-10 card">
			Prêmio acumulado: 
			<span ng-bind="ctrl.clientes.acumulado ? ctrl.clientes.acumulado : 0 | currency : 'R$ '"></span>
		</div>
		<div class="card">
			<select ng-change="ctrl.pesquisar(bolao)" ng-model="bolao" ng-options="bolao._id as bolao.nome for bolao in ctrl.boloes" class="meus block capitalize padding-10 margin-zero border">	  		
				<option value="">Selecione um bolão</option>
			</select>
			<div class="row">
			  <div class="meus dark border center col col-13">
				Po.
			  </div>
			  <div class="meus dark border center col col-40">Clientes</div>
			  <div class="meus dark border center col col-13">E</div>
			  <div class="meus dark border center col col-13">T</div>
			  <div class="meus dark border center col col-13">P</div>
			</div>	
			<div ng-repeat="clientes in ctrl.clientes | orderBy : 'pontos' : 'reverse'" class="row">
			  <div class="meus dark border center col col-13">
				<span ng-show="ctrl.lugares - 1 < $index" ng-bind="$index + 1 + 'º '"></span><i ng-if="ctrl.lugares > $index" class="icon energized ion-trophy"></i>
			  </div>
			  <div class="meus dark border center col col-40"><span class="meus capitalize" ng-bind="clientes.nome"></span></div>
			  <div class="meus dark border center col col-13"><span ng-bind="clientes.placar"></span></div>
			  <div class="meus dark border center col col-13"><span ng-bind="clientes.time"></span></div>
			  <div class="meus dark border center col col-13"><span ng-bind="clientes.pontos"></span></div>
			</div>	
		</div>
		<!-- fim Content -->
	</body>	
</html>
