<section class="animated fadeInDown form-login">
	<img class="logo" src="img/bolao.png" />
	<label class="item item-input">
		 <i class="icon ion-person placeholder-icon"></i>
		<input type="text" ng-model="ctrl.agentes.nome" placeholder="Seu login">
	</label>		
	<label class="item item-input">
		 <i class="icon ion-key placeholder-icon"></i>
		<input type="password" ng-model="ctrl.agentes.senha" placeholder="Sua senha">
	</label>
	<button ng-click="ctrl.acessar(ctrl.agentes)" class="button button-block button-positive">Entrar</button
</section>
